@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

@theme {
    --color-primary: #5f6FFF;
}

.active hr {
   @apply block;
}

::-webkit-scrollbar{
   @apply hidden;
}

.grid-cols-auto {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem; /* optional */
}

@media (max-width: 740px){
  .active p {
    @apply text-white bg-primary;
  }
}